body {
	font-family: sans-serif;
	text-align: center;
	background-color: #253237;
}

.title {
	font-size: 2em;
	color: white;
}

.seconds {
	font-size: 96px;
	color: #c2dfe3;
}

.subtitle {
	color: white;
}