body {
	font-family: sans-serif;
	text-align: center;
	background-color: #253237;
}

.title {
	font-size: 2em;
	color: white;
}

.seconds {
	font-size: 96px;
	color: #c2dfe3;
}

.subtitle {
	color: white;
}

.logo {
	background-color: white;
	padding: 10px;
	border: 2px solid white;
	border-radius: 16px;
	vertical-align: middle;
	margin-right: 8px;
}

button {
	color: #ffffff;
	background-color: #f24236;
	font-size: 19px;
	border: 2px solid #7b0928;
	border-radius: 16px;
	padding: 15px 50px;
	cursor: pointer
}

button:hover {
	color: #7b0928;
	background-color: #ffffff;
}
